body{
    min-height: 100vh;
    background-color: grey;

}

#match_result{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
    height: 30px;
}

.display{
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin-bottom: 150px;
    
}

h3{
    color: #EBA937;
}

.UserScore, .ComputerScore{
    font-family: 'Press Start 2P', cursive;
    height: 150px;
    width: 300px;
    text-align: center;
    
    
}

#currentUserScore , #currentCompScore {
    font-size: 25px;
    margin-top: auto;

}
.btn_container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


button{
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
    height:120px;
    width:120px;
    cursor:pointer;
    border: none;
    box-shadow: 0 9px #999;
}

button:hover {background-color: #EBA937}

button:active {
    background-color: #EBA937;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#rock_btn{
    background-image: url("Images/hand_rock.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#paper_btn{
    background-image: url("Images/hand_paper.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#scissors_btn{
    background-image: url("Images/hand_scissors.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
}